DOCKER_REGISTRY=alesso033
VERSION=latest

# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=4812
POSTGRES_DB=postgres
POSTGRES_PORT=5433

# Backend Configuration
BACKEND_PORT=3002
JWT_SECRET=alesso-queso
JWT_EXPIRATION=1h

# Email Configuration
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=465
EMAIL_USER=957f57797f737e
EMAIL_PASS=c88b2fd9495d71

# Frontend Configuration
FRONTEND_PORT=3005
NEXT_PUBLIC_API_URL=http://localhost:3002

# Environment
NODE_ENV=production
